@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(112 128 144 / 13%);
}

img.fundo {
    display: none;
}

img.background {
    display: none;
}

main {
    margin: auto;
    width: 100vw;
}

section#quem-somos {
    background-color: rgba(192, 192, 192, 0.336);
    border: 5px groove;
    border-radius: 5px 6px 4px 5px;
    transform: rotateY(29deg);
    margin-top: 1px;
}

section#quem-somos  > img{
    display: block;
    margin: auto;
    margin-top: 1px;
    height: 18vw;
    width: 100vw;
}

section#quem-somos > p {
    text-indent: 10px;
    color: darkslategray;
    text-align: left;
    margin: 12px;
    line-height: 1.4em;
}
  
section#servicos {
    background-color: rgba(192, 192, 192, 0.336);
    border: 5px groove;
    border-radius: 5px 6px 4px 5px;
    transform: rotateY(29deg);
    margin-top: 1px;
}

section#servicos > p {
    text-indent: 10px;
    color: darkslategray;
    text-align: left;
    margin: 12px;
    line-height: 1.4em;
}

 footer {
    background-color: #2D3345;
    margin: auto;
    width: 100vw;
    height: 75vh;
 }

 footer > h1 {
     text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    font-style: oblique;
    font-size: 1.8em;
    margin: 5px;
 }

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

ol > li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    margin: 10px;
}

li.number {
    font-size: 1.1em;
}

 ul.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .foot > li > a > img {
    width: 70%;
 }

 ul.foot > li {
     background-color: rgba(0, 0, 0, 0.575);
     border-radius: 10px;
    transform: translate(10px, 35px);
    padding: 5px;
    margin: 6px;
 }

 ul.foot > li.redes-sociais {
    color: lightcyan;
    background-color: transparent;
 }

 .foot > li > a:hover {
    text-decoration: none;
 }

 footer > p {
    color: lavender;
    font-size: 0.8em;
    margin-top: 40px;
 }

 @media screen and (min-width:780px) {

    img.fundo {
        display: block;
        border-radius: 2px;
        transform: rotate3d(1, -1, 0, 45deg);
        position: absolute;
        top: 47%;
        left: 65%;
        width: 27%;
        height: 400px;
        z-index: 0;
    } 
    
    img.background {
        display: block;
        border-radius: 2px;
        transform: rotate3d(5, 2, -3, 45deg);
        position: absolute;
        top: 116%;
        right: 74%;
        width: 25%;
        height: 208px;
        z-index: 0;
    }

    main {
        margin: auto;
        width: 100vw;
    }
    section#quem-somos {
        background-color: rgba(192, 192, 192, 0.336);
        border: 5px groove;
        border-radius: 5px 6px 4px 5px;
        transform: rotateY(35deg);
        padding-bottom: 30px;
        width: 80vw;
    }
    
    section#quem-somos  > img{
    display: block;
    border-radius: 5px;
    transform: rotate3d(8, 17, -12, -1deg);
    opacity: 10;
    margin: auto;
    width: 102%;
    height: 150px;
    }
    
    section#quem-somos > p {
        text-indent: 10px;
        color: darkslategray;
        text-align: left;
        margin: 12px;
        line-height: 1.8em;
    }
      
    section#servicos {
        background-color: rgba(192, 192, 192, 0.336);
        border: 5px groove;
        border-radius: 5px 6px 4px 5px;
        transform: rotateY(35deg);
        padding-bottom: 30px;
        width: 80vw;
    }
    
    section#servicos > p {
        text-indent: 10px;
        color: darkslategray;
        text-align: left;
        margin: 12px;
        line-height: 1.8em;
    }

    footer {
        height: 60vh;
    }

    ul.foot {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
    
 }

 ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
 }