@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(112 128 144 / 13%);
}
/* Conteúdo telas menores */
main {
    margin: auto;
    width: 100vw;
    background-color: rgba(245, 245, 245, 0.664);
}

div > img {
    width: 50%;
}

main > h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    text-shadow: 2px 2px 3px #0000007a;
}

section#quem-somos {
    background-image: linear-gradient(-101deg, brown, gainsboro);
    display: grid;
    align-content: center;
    justify-items: end;
    transform: skewy(7deg);
    width: 47vw;
    height: 180px;
}

section#quem-somos > img{
    border-radius: 5px;
    margin: 5px;
    width: 29%;
}

section#quem-somos > h3 {
    color: whitesmoke;
    font-size: 2.2vw;
    transform: skew(-1deg, 0deg);
}

section#quem-somos > p {
    text-align: start;
    text-indent: 15px;
    color: #000000c4;
    padding: 1px;
    line-height: 1.3em;
}

section.quem-somos-2 {
    background-image: linear-gradient(-101deg, brown, wheat);
    display: grid;
    align-content: center;
    justify-items: start;
    transform: translate(53vw, 0px);
    width: 47vw;
    height: 180px;
}

section.quem-somos-2 > img{
    border-radius: 5px;
    width: 24%;
    margin: 5px;
}

section.quem-somos-2 > h3 {
    font-size: 2.5vw;
    transform: skew(-1deg, 0deg);
}

section.quem-somos-2 > p {
    text-align: start;
    color: #000000ab;
    line-height: 1.3em;
    padding-left: 10px;
    margin: 1%;
}

section.quem-somos-3 {
    background-image: linear-gradient(-265deg, brown, darkgray);
    display: grid;
    justify-items: center;
    transform: skewy(7deg);
    margin-top: 10px;
    width: 55vw;
    height: 180px;
    align-content: center;
}

section.quem-somos-3 > img{
    border-radius: 5px;
    width: 27%;
    margin: 5px;
}

section.quem-somos-3 > h3 {
    font-size: 2.5vw;
    transform: skew(-1deg, 0deg);
    color: yellowgreen;
}

section.quem-somos-3 > p {
    text-align: start;
    color: #000000ab;
    line-height: 1.3em;
    padding-left: 10px;
}
/* Rodapé tela menor */
footer {
    background-color: #2D3345;
    margin: auto;
    margin-top: 14px;
    width: 100vw;
    max-height: 76vh;
   }

   ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

ol > li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    margin: 10px;
}

li.number {
    font-size: 1.1em;
}

 ul.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .foot > li > a > img {
    width: 70%;
 }

 ul.foot > li {
     background-color: rgba(0, 0, 0, 0.575);
     border-radius: 10px;
    transform: translate(10px, 35px);
    padding: 5px;
    margin: 6px;
 }

 ul.foot > li.redes-sociais {
    color: lightcyan;
    background-color: transparent;
 }

 .foot > li > a:hover {
    text-decoration: none;
 }

 footer > p {
    color: lavender;
    font-size: 0.8em;
    margin-top: 40px;
 }

 /* Conteúdo para telas medias e grandes */
@media screen and (min-width:780px) {
 
main {
        margin: auto;
        width: 100vw;
}

section#quem-somos {
   
}

section#quem-somos > img{
  
}

section#quem-somos > img:hover {
   
}

section#quem-somos > h3 {
    
}

section#quem-somos > p {
  
}

section.quem-somos-2 {
  
}

section.quem-somos-2 > img{
   
}

section.quem-somos-2 > img:hover {
    
}

section.quem-somos-2 > h3 {
    
}

section.quem-somos-2 > p {
    
}

section.quem-somos-3 {
   
}

section.quem-somos-3 > img{
   
}

section.quem-somos-3 > img:hover {
   
}

section.quem-somos-3 > h3 {
   
}

section.quem-somos-3 > p {
  
}

/* Rodapé telas médias e grandes */
footer {
    min-height: 55vh;
}

ul.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
}

/* Tira rolagem da página */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
 }