@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: slategrey;
    background-size: contain;
}

/* Todo o conteúdo */

main {
    background-color: rgba(112, 128, 144, 0.616);
    margin: auto;
    width: 100vw;
}

/* Seção de projetos */

section {
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section > h1{
    font-family: fantasy;
    font-size: 2.3em;
    color: crimson;
    text-shadow: -2px 0px 2px azure;
}

div#project {
   max-height: 19em;
   transform: rotateY(35deg);
   margin: 8px;
}

.um, .dois, .tres {
    border: 1px solid antiquewhite;
    background-color: brown;
    width: 13em;
    transform: skewX(-7deg);
}

div#project > h4 {
    color: cornsilk;
    font-family: cursive;
    font-size: 1.1em;
    display: inline-block;
    position: relative;
    top: -2px;
}


div.um > img {
    border-radius: 1px 10px 1px 10px;
    width: 94%;
    height: 12em;
}

div.dois > img {
    border-radius: 1px 1px 22px 1px;
    width: 93%;
    max-height: 12em;
}

div.tres > img {
    border-radius: 28px 1px 28px 1px;
    width: 94%;
    height: 12em;
}

/* Rodapé telas menores */

footer {
    background-color: #2D3345;
    margin: auto;
    width: 100vw;
    min-height: 25vh;
   }

   ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

ol > li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    margin: 10px;
}

li.number {
    font-size: 1.1em;
}

 ul.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .foot > li > a > img {
    width: 70%;
 }

 ul.foot > li {
     background-color: rgba(0, 0, 0, 0.575);
     border-radius: 10px;
    transform: translate(10px, 35px);
    padding: 5px;
    margin: 6px;
 }

 ul.foot > li.redes-sociais {
    color: lightcyan;
    background-color: transparent;
 }

 .foot > li > a:hover {
    text-decoration: none;
 }

 footer > p {
    color: lavender;
    font-size: 0.8em;
    margin-top: 40px;
 }

/* Conteúdo para telas medias e grandes */
@media screen and (min-width:780px) {
 
    /* Todo o conteúdo */

main {
    background-color: rgba(112, 128, 144, 0.616);
    margin: auto;
    width: 100vw;
}

/* Seção de projetos */

section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;
}

section > h1{
    font-family: fantasy;
    font-size: 2.3em;
    color: crimson;
    text-shadow: -2px 0px 2px azure;
}

div#project {
   height: 13em;
   margin: 8px;
   animation: project 10s infinite ease-in-out;
}

@keyframes project {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.um, .dois, .tres {
    border: 1px solid antiquewhite;
    background-color: brown;
    width: 17em;
    transform: skewX(-7deg);
}

div#project > h4 {
    color: cornsilk;
    font-family: cursive;
    font-size: 1.1em;
    display: inline-block;
    position: relative;
    top: -2px;
}


div.um > img {
    border-radius: 1px 10px 1px 10px;
    width: 94%;
    height: 12em;
}

div.dois > img {
    border-radius: 1px 1px 22px 1px;
    width: 93%;
    max-height: 12em;
}

div.tres > img {
    border-radius: 28px 1px 28px 1px;
    width: 94%;
    height: 12em;
}
 
/* Rodapé telas médias e grandes */
    footer {
        min-height: 25vh;
    }
    
    ul.foot {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
    }
    
    /* Tira rolagem da página */
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
     }